.blog {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
  padding: 0 24px;
  font-size: 18px;
  line-height: 1.7;
}

.blog h1,
.blog h2,
.blog h3 {
  line-height: 1.25;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
}

.blog p {
  margin: 0 0 1em 0;
}

.blog img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .blog {
    padding: 0 16px;
    font-size: 16px;
    line-height: 1.65;
  }
}
